/.venv/
# Exclude personal settings
.idea
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Optionally exclude run configurations (if they are not shared)
.idea/runConfigurations/

# Exclude build directories
.idea/libraries/

# Ignore Python bytecode files and __pycache__ directories
__pycache__/
*.py[cod]
/src/read_pkl.py
